body {
    background-color: rgb(221, 188, 157);
    color:white ;
    font-family:font-family: "Story Script", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}